* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --v-drk-blue: hsl(217, 19%, 35%);
    --drk-blue: hsl(214, 17%, 51%);
    --gr-blue: hsl(212, 23%, 69%);
    --lt-gr-blue: hsl(210, 46%, 95%);
}

body {
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    background-color: var(--lt-gr-blue);
}

.card {
    background-color: #fff;
    border-radius: 8px;
    width: auto;
    margin: 15vw 1.25rem;
}

.card img.main-img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

p.primary-txt, p.primary-txt-small {
    font-weight: 700;
    color: var(--v-drk-blue);
    margin-top: 1rem;
}

p.primary-txt {
    font-size: 16px;
}

.secondary {
    color: var(--drk-blue);
}

.card-content {
    padding-inline: 1rem;
    padding-bottom: 0.75rem;
}

.author-section {
    position: relative;
}

.author-section, .overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-inline: 1rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.author-section img.profile {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
}

.small-row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.author-section .share, .overlay .share {
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    background-color: var(--lt-gr-blue);
    background-image: url('images/icon-share.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    width: 100%;
    inset: 0;
    z-index: 2;
    background-color: var(--v-drk-blue);
    color: var(--gr-blue);
}

.capitalize {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.hidden {
    display: none;
}

.smaller {
    font-size: 10px;
}